@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

body {
  margin: 0px;
  height: 100vh;
}

.page-wrapper {
  min-height: 100vh;
  background-image: url(../Images/background-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.page-header {
  background: black;
  opacity: 0.9;
  border-bottom: 1px solid rgb(59, 59, 59);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  padding-left: 10px;
  max-width: 250px;
  max-height: 110px;
}

nav,
#hamburger-menu {
  visibility: hidden;
  max-height: 0px;
  transition: max-height 0.1s ease-out;
}

.hamburger-label {
  position: absolute;
  top: 35px;
  right: 35px;
  color: white;
  padding: 10px;
  font-size: 30px;
  display: block;
}

ul {
  list-style: none;
  margin-right: 50px;
  overflow: hidden;
}

li a {
  color: white;
  text-align: left;
  display: block;
  padding: 12px 25px 12px 25px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
}

li a:hover {
  color: #3fa652;
  border: 1px solid #3fa652;
  font-weight: 500;
}

.active {
  color: #3fa652;
  border: 1px solid #3fa652;
  font-weight: 500;
}

#hamburger-menu:checked ~ nav {
  visibility: visible;
  max-height: 300px;
}

h1,
h2 {
  font-size: 30px;
  color: #21552a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

label {
  font-size: 17px;
  color: #21552a;
  font-weight: lighter;
}

main {
  padding-top: 220px;
}

.search-bar {
  max-width: 350px;
  margin: 0px auto;
}

.search-bar input[type="text"] {
  padding: 10px 40px;
  opacity: 0.8;
  width: 100%;
  color: black;
  font-size: 20px;
  font-style: italic;
  border: 1px solid black;
  border-radius: 30px;
}

.search-bar > i {
  font-size: 20px;
  position: relative;
  z-index: 1;
  right: -10px;
  top: -32px;
  color: black;
  cursor: pointer;
}

.contact-section {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  max-width: 1400px;
}

.contact {
  position: sticky;
  background-color: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  border: 1px solid black;
  padding: 15px;
  max-width: 1400px;
}

.title {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.form-container input[type="text"],
.form-container input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: #fffffa;
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  text-align: center;
}

.the-button {
  border: #21552a 2px solid;
  background-color: #3fa652;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 30px;
}

.the-button:hover {
  border: #3fa652 2px solid;
  background-color: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #21552a;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 15px;
}

.button {
  text-align: center;
  padding-bottom: 10px;
}

.form-container {
  max-width: 800px;
  height: 650px;
  margin: 0 auto;
}

footer {
  background: black;
  opacity: 0.8;
  border-top: 1px solid rgb(59, 59, 59);
  width: 100%;
  color: white;
  font-weight: 300;
  padding-bottom: 15px;
}

.museum-information {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.the-museum {
  max-width: 250px;
}

.the-museum a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.the-museum a:hover {
  color: #3fa652;
}

.hours {
  max-width: 180px;
}

.contact-bottom {
  max-width: 250px;
}

.copyright {
  text-align: center;
  align-items: center;
}

@media (min-width: 1155px) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .hamburger-label {
    visibility: hidden;
  }

  nav {
    visibility: visible;
  }

  ul {
    display: flex;
    padding-top: 60px;
    list-style: none;
  }

  li a {
    color: white;
    text-align: center;
    padding: 12px 25px 12px 25px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
  }

  li a:hover {
    color: #3fa652;
    border: 1px solid #3fa652;
    font-weight: 500;
  }

  .active {
    color: #3fa652;
    border: 1px solid #3fa652;
    font-weight: 500;
  }

  .search-bar {
    max-width: 470px;
    position: relative;
    margin: 0 auto;
  }
}

@media (min-width: 920px) {
  .museum-information {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
  }
}

@media (min-width: 400px) {
  .logo {
    padding-left: 20px;
    max-width: 400px;
    max-height: 170px;
  }
}

@media (max-width: 890px) {
  .form-container {
    width: 100%;
    height: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 730px) {
  .form-container {
    width: 100%;
    height: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .form-container {
    width: 100%;
    height: 650px;
    margin: 0 auto;
  }

  main {
    padding-top: 240px;
  }
}
